footer{
  color: rgb(255, 255, 255);
}
.container{
  color: rgb(255, 255, 255);
  font-size: 40px;
}
.text{
  color: darkcyan;
}
.logo{
  color: rgb(255, 255, 255);
  font-size: 60px;
}
.ikons{
  font-size: 45px;
}
.h2{
  font-size: 35px;
}
nav{
width: 695px;
margin: 0 auto;
}
nav::before{
  content:'';
  display: block;
  height: 50px;
  width: 100%;
  background: linear-gradient(rgb(255, 149, 255), pink);;
  position: absolute;
  left: 0;
  z-index: -1;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
}
ul li{
  float: left;
}
ul li a{
  display: block;
  height: 50px;
  padding:0 30px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
}
li{
  font-size: 20px;
  font-family: 'Unbounded', cursive;
}
ul li a:hover{
  background: rgb(27, 27, 27);
}
body{
  font-family: 'Unbounded', cursive;
  background: linear-gradient(rgb(255, 149, 255), pink);;
  background-size: auto; 
}
h1{
  text-align: center;
}
p{
  font-size: 20px;
}
